.panel.panel-default
  .panel-heading
    .row
      .col-md-1
        = reply.user.decorate.display_avatar(40,40)
      .col-md-7
        %h4
          = reply.fullname
      .col-md-3.text-lightgrey.text-right.float-right
        = reply.time_since_posted
  .panel-body.reply-bg
    -if !reply.original.nil?
      = render 'replies/original_reply', reply: reply.original
    = reply.comment
  -if user_signed_in?
    .panel-footer
      = link_to 'Reply', show_reply_modal_reply_path(reply.id, is_post: 0), method: :post, remote: true
