.panel.panel-default{id: "reply_#{reply.id}"}
  .panel-heading
    %h4.no-margin
      = reply.user.decorate.display_avatar(40,40)
      = reply.username
      - if defined?(replies_to_me)
        replied you at :
        = link_to reply.post.title, post_path(reply.post), class: 'inherit-color'
      - elsif defined?(your_replies)
        at :
        = link_to reply.post.title, post_path(reply.post), class: 'inherit-color'
      .time-since-posted
        = reply.time_since_posted
  .panel-body
    .row
      .col-sm-9.col-xs-12
        - if !reply.original_id.nil?
          = render 'replies/original_reply', reply: reply.original
        = simple_format reply.comment
      .col-sm-3.col-xs-12.text-center{ style: 'margin-bottom: 10px;' }
        .row
          .col-sm-3
            = reply.display_like
            %br
            = reply.display_dislike
          .col-sm-9
            %h6.text-lightgrey#likes_block
              = reply.display_like_count
  .panel-footer
    = reply.display_reply_button
    &nbsp;&nbsp;&nbsp;
    = reply.display_delete_link