.panel.panel-default
  .panel-heading
    %h4.no-margin
      = reply.user.decorate.display_avatar(40,40)
      = reply.username
      - if defined?(replies_to_me)
        replied you at :
        = link_to reply.post.title, post_path(reply.post), class: 'inherit-color'
      - elsif defined?(your_replies)
        at :
        = link_to reply.post.title, post_path(reply.post), class: 'inherit-color'
      .time-since-posted
        = reply.time_since_posted
  .panel-body
    - if !reply.original_id.nil?
      = render 'replies/original_reply', reply: reply.original
    = simple_format reply.comment
  .panel-footer
    = reply.display_reply_button
    &nbsp;&nbsp;&nbsp;
    = reply.display_delete_link