.panel.panel-default
  .panel-heading
    %h4.no-margin
      = reply.user.decorate.display_avatar(40,40)
      = reply.username
      .time-since-posted
        = reply.time_since_posted
  .panel-body
    - if !reply.original.nil?
      = render 'replies/original_reply', reply: reply.original
    = reply.comment
  - if user_signed_in?
    .panel-footer
      = reply.display_reply_button