.modal.fade#reply_modal{ 'aria-hidden': 'true', 'aria-labelledby': 'reply_modal', role: 'dialog', tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          = fa_icon 'comment'
          Reply
          %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
            = fa_icon 'times'

      .modal-body
        = simple_form_for(Reply.new, remote: true, method: :post) do |f|
          .form-inputs
            = f.input :comment, label: 'Comment', as: :text, placeholder: 'Add your reply here ...', required: true
            - if is_post == 0
              = f.hidden_field :post_id, value: reply.post_id
              = f.hidden_field :original_id, value: reply.id
            - else
              = f.hidden_field :post_id, value: post_id
          .form-actions
            = f.button :submit, 'Submit', class: 'btn-primary center-block'
