- content_for :title, 'Settings'

%h2
  = @user.display_avatar(100,100)
  Manage Your Account

.row
  .col-sm-4
    %ul.nav.nav-tabs.nav-stacked
      %li.active
        %a{ href: '#details', 'data-toggle': 'tab' } Change of personal details
      %li
        %a{ href: '#password', 'data-toggle': 'tab' } Change of password
      %li
        %a{ href: '#image', 'data-toggle': 'tab' } Change of profile image
      %li
        %a{ href: '#email', 'data-toggle': 'tab' } Change of email
      %li
        %a{ href: '#delete_account', 'data-toggle': 'tab' } Delete Account
  .col-sm-8
    .tab-content
      .tab-pane.active#details
        = simple_form_for @user do |f|
          .form-inputs
            = f.input :details, label: 'Details', autofocus: true, as: :text
          .form-actions
            = f.button :submit, 'Update details'
      .tab-pane#password
        = simple_form_for @user do |f|
          = f.input :reset_password_token, as: :hidden
          .form-inputs
            = f.input :password, label: 'New password', required: true, autofocus: true
            = f.input :password_confirmation, label: 'Confirm new password', required: true
          .form-actions
            = f.button :submit, 'Update password'
      .tab-pane#image
        = simple_form_for @user do |f|
          .form-inputs
            = @user.display_avatar(100,100)
            = f.input :avatar, label: 'New profile image', as: :file
          .form-inputs
            = f.button :submit, 'Update image'
      .tab-pane#email
        = simple_form_for @user do |f|
          .form-inputs
            = f.input :email, label: 'New email', required: true, autofocus: true
          .form-inputs
            = f.button :submit, 'Update email'
      .tab-pane#delete_account
        = link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, style: 'text-decoration: none; color: white;', class: ' btn btn-danger btn-lg btn-block'