- content_for :title, "#{ @user.firstname }'s Home Page"

%h2
  = @user.display_avatar(100,100)
  #{ @user.firstname }'s Home

%h3 #{ @user.firstname }'s Posts
%br
= will_paginate @posts, param_name: 'post_page'
= render 'post', collection: @posts
= will_paginate @posts, param_name: 'post_page'