.panel.panel-default
  .panel-heading
    %h4.no-margin
      = app_request.user.decorate.display_avatar(40,40)
      = app_request.user.username
      .time-since-posted
        = app_request.time_since_posted
  .panel-body
    .row
      .col-sm-12
        = link_to app_request.url, app_request.url, target: '_blank'
      .col-sm-12
        %br
        - unless defined?(closed)
          = link_to fa_icon('pencil', text: 'New App'), '#', 'data-target': '#post-modal', 'data-toggle': 'modal'
          &nbsp;&nbsp;&nbsp;
          = link_to fa_icon('check', text: 'Mark as done'), done_app_request_path(app_request), method: :post, data: { confirm: 'Are you sure?' }
          &nbsp;&nbsp;&nbsp;
        = link_to fa_icon('trash', text: 'Delete'), app_request, method: :delete, data: { confirm: 'Are you sure?' }
