.modal.fade#post-modal{ 'aria-hidden': 'true', 'aria-labelledby': 'post-modal', role: 'dialog', tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          = fa_icon 'pencil'
          Create an App Post
          %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
            = fa_icon 'times'

      .modal-body
        = simple_form_for(Post.new, remote: true, method: :post) do |f|
          .form-group
            = f.input :app_icon, label: 'App Icon', as: :file
            = f.hidden_field :post_type, value: 'App'
            = f.input :title, label: 'Title', required: true
            = f.input :description, label: 'Description', required: true, as: :text
            = hidden_field_tag :authenticity_token, form_authenticity_token
          .form-inputs
            = f.button :submit, 'Submit', class: 'btn-primary center-block'
