- content_for :title, 'App Requests'

= render 'post_modal'

%h3 App Requests
%br
= will_paginate @app_requests, param_name: 'open_page'
-#= render @app_requests
= render partial: 'app_request', collection: @app_requests
= will_paginate @app_requests, param_name: 'open_page'

%hr

%h3 Closed Requests
%br
= will_paginate @closed_app_requests, param_name: 'close_page'
= render partial: 'app_request', collection: @closed_app_requests, closed: true
= will_paginate @closed_app_requests, param_name: 'close_page'
