.modal.fade#post-modal{ 'aria-hidden': 'true', 'aria-labelledby': 'post-modal', role: 'dialog', tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          = fa_icon 'pencil'
          Request an App
          %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
            = fa_icon 'times'

      .modal-body
        = simple_form_for(AppRequest.new, remote: true, method: :post) do |f|
          .form-group
            = f.input :url, label: 'Google Play URL', required: true
          .form-inputs
            = f.button :submit, 'Submit', class: 'btn-primary center-block'
