- if forum_type == 'Exercise'
  .row
    .col-sm-2
    .col-sm-2.thumbnail
      = image_tag '/images/exercise/img2.jpg'
    .col-sm-2.thumbnail
      = image_tag '/images/exercise/img3.jpg'
    .col-sm-2.thumbnail
      = image_tag '/images/exercise/img1.jpg'
    .col-sm-2.thumbnail
      = image_tag '/images/exercise/img6.jpg'
    .col-sm-2
- else
  .row
    .col-sm-2
    .col-sm-2.thumbnail
      = image_tag '/images/diet/diet1.jpg'
    .col-sm-2.thumbnail
      = image_tag '/images/diet/diet2.jpg'
    .col-sm-2.thumbnail
      = image_tag '/images/diet/diet3.jpg'
    .col-sm-2.thumbnail
      = image_tag '/images/diet/diet4.jpg'
    .col-sm-2
