.panel.panel-default{id: "post_#{post.id}"}
  .panel-heading
    %h4.no-margin
      = post.user.decorate.display_avatar(40,40)
      = post.user.username + ':  '
      = link_to post.title, post_path(post), style: 'color: inherit;'
      .time-since-posted
        = post.time_since_posted
  .panel-body
    .row
      .col-sm-1
        = post.display_like
        %br
        = post.display_dislike
      .col-sm-11
        .row
          .col-sm-9
            %p
              = post.description
          .col-sm-3
            %h6.text-lightgrey.text-right#likes_block
              = post.display_like_count
            %a{href: post_path(post)}
              %button.btn.float-right{ class: btn_class(post.post_type) }
                #{ post.replies.count } comments
          .col-sm-12
            = link_to 'View', post_path(post), class: 'fa fa-eye'
            &nbsp;&nbsp;&nbsp;
            = link_to 'Reply', post_path(post), class: 'fa fa-comment'
            &nbsp;&nbsp;&nbsp;
            = post.display_report_button