.panel.panel-default
  .panel-heading.original-reply
    %h5.no-margin
      = post.user.decorate.display_avatar(40,40)
      = post.user.username + ':  '
      = link_to post.title, post_path(post), class: 'inherit-color'
      .time-since-posted
        = post.time_since_posted
  .panel-body.original-reply
    .row
      .col-sm-9
        %p
          = simple_format post.description
      .col-sm-3
        %h6.text-lightgrey.text-right#likes_block
          = post.decorate.display_like_count
        %a{href: post_path(post)}
          %button.btn.float-right{ class: btn_class(post.post_type) }
            #{ post.replies.count } comments
      .col-sm-12
        = link_to 'View', post_path(post), class: 'fa fa-eye'
        &nbsp;&nbsp;&nbsp;
        = post.decorate.display_delete_link
        &nbsp;&nbsp;&nbsp;
        = post.decorate.display_block_link
