.panel.panel-default{id: "post_#{post.id}"}
  .panel-heading
    %h4.no-margin
      = post.user.decorate.display_avatar(40,40)
      = post.user.username + ':  ' + post.title
      .time-since-posted
        = post.time_since_posted
  .panel-body
    .row
      .col-md-1
        = post.decorate.display_like
        %br
        = post.decorate.display_dislike
      .col-md-10
        .row
          .col-sm-9
            %p
              = post.description
          .col-sm-3
            %h6.text-lightgrey#likes_block
              = post.decorate.display_like_count
            %a{href: post_path(post)}
              %button.btn.float-right{class: "#{post.post_type == 'Exercise' ? 'btn-danger' : 'btn-success'}"}
                #{ post.replies.count } comments
          .col-md-2
            = link_to 'View', post_path(post), class: 'fa fa-eye'
          .col-md-2
            = link_to 'Report', show_report_modal_report_path(post), class: 'fa fa-flag', method: :post, remote: true
