.panel.panel-default
  .panel-heading
    .row
      .col-sm-1
        = post.user.decorate.display_avatar(40,40)
      .col-sm-8
        %h3{ style: 'display:table-cell;' }
          = post.title
      .col-sm-3
        .text_lightgrey{ style: 'text-align: right;' }
          = time_ago_in_words(post.created_at) + ' ago'
  .panel-body
    .row
      .col-sm-9
        %p
          = post.description
      .col-sm-3
        %button.btn.btn-danger{style: 'float: right;'}
          #{ post.replies.count } comments
    .row
      .col-md-2
        = link_to post_path(post) do
          = fa_icon 'eye', class: 'text_lightgrey', text: 'View'
