.panel.panel-default{id: "post_#{post.id}"}
  .panel-heading
    %h4.no-margin
      - if post.post_type == 'App'
        = image_tag post.app_icon_link, height: 40, width: 40, class: 'img-circle'
      - else
        = post.user.decorate.display_avatar(40,40)
        = post.user.username + ':  '
      = link_to post.title, post_path(post), style: 'color: inherit;'
      .time-since-posted
        = post.time_since_posted
  .panel-body
    .row
      .col-sm-9.col-xs-12
        - if post.post_type == 'App'
          %h4.no-margin
            = post.show_ratings
        %p
          = simple_format truncate(post.description, length: 500)
        #poll_btn
          = raw post.display_poll
      .col-sm-3.col-xs-12{ style: 'text-align: center;margin-bottom: 10px;' }
        .row
          - if post.post_type != 'App'
            .col-sm-3
              = post.display_like
              %br
              = post.display_dislike
          %div{ class: post.post_type == 'App' ? 'col-sm-12' : 'col-sm-9' }
            - if post.post_type != 'App'
              %h6.text-lightgrey#likes_block
                = post.display_like_count
            = link_to post_path(post) do
              %button.btn{ class: btn_class(post.post_type) }
                = "#{ post.replies.count } " + (post.post_type == 'App' ? 'reviews' : 'comments')
      .col-sm-12.col-xs-12
        = link_to 'View', post_path(post), class: 'fa fa-eye'
        &nbsp;&nbsp;&nbsp;
        = link_to post.post_type == 'App' ? 'Review' : 'Reply', post_path(post), class: 'fa fa-comment'
        &nbsp;&nbsp;&nbsp;
        = post.display_report_button