.panel.panel-default
  .panel-heading
    .row
      .col-sm-1
        = image_tag user_image(post.user), height: 40, width: 40, class: 'img-circle'
      .col-sm-8
        %h3{ style: 'display:table-cell;' }
          = post.title
      .col-sm-3
        .text-lightgrey.text-right.float-right
          = post.time_since_posted
  .panel-body
    .row
      .col-sm-9
        %p
          = post.description
      .col-sm-3
        %button.btn.btn-danger.float-right
          #{ post.replies.count } comments
    .row
      .col-md-2
        = link_to post_path(post) do
          = fa_icon 'eye', class: 'text_lightgrey', text: 'View'
