%br
Sort by
&nbsp;
- if @sort == 'Time'
  = link_to fa_icon("arrow-#{@order}", text: 'Time', right: true), request.params.merge(sort: 'Time', order: "#{@order}"), class: 'btn btn-info'
- else
  = link_to fa_icon('arrow-down', text: 'Time', right: true), request.params.merge(sort: 'Time', order: 'down'), class: 'btn btn-default'
&nbsp;
- if session[:forum_type] != 'App'
  - if @sort == 'Likes'
    = link_to fa_icon("arrow-#{@order}", text: 'Likes', right: true), request.params.merge(sort: 'Likes', order: "#{@order}"), class: 'btn btn-info'
  - else
    = link_to fa_icon('arrow-down', text: 'Likes', right: true), request.params.merge(sort: 'Likes', order: 'down'), class: 'btn btn-default'
- else
  - if @sort == 'Ratings'
    = link_to fa_icon("arrow-#{@order}", text: 'Ratings', right: true), request.params.merge(sort: 'Ratings', order: "#{@order}"), class: 'btn btn-info'
  - else
    = link_to fa_icon('arrow-down', text: 'Ratings', right: true), request.params.merge(sort: 'Ratings', order: 'down'), class: 'btn btn-default'
- unless defined?(for_replies)
  &nbsp;
  - if @sort == 'Comments'
    = link_to fa_icon("arrow-#{@order}", text: session[:forum_type] == 'App' ? 'Reviews' : 'Comments', right: true), request.params.merge(sort: 'Comments', order: "#{@order}"), class: 'btn btn-info'
  - else
    = link_to fa_icon('arrow-down', text: session[:forum_type] == 'App' ? 'Reviews' : 'Comments', right: true), request.params.merge(sort: 'Comments', order: 'down'), class: 'btn btn-default'
%br