- content_for :title, 'Exercise Section'

.row
  .col-sm-3.thumbnail
    = image_tag '/images/exercise/img2.jpg'
  .col-sm-3.thumbnail
    = image_tag '/images/exercise/img3.jpg'
  .col-sm-3.thumbnail
    = image_tag '/images/exercise/img1.jpg'
  .col-sm-3.thumbnail
    = image_tag '/images/exercise/img6.jpg'

%h1
  Exercise Community

.row
  .col-md-3
    -if user_signed_in?
      .btn.btn-danger.btn-lg.btn-block{ 'data-target': '#basicModal', 'data-toggle': 'modal' }
        Create Post
    -else
      .btn.btn-danger.btn-lg.btn-block{ onclick: 'showLoginMessage()' }
        Create Post

  .col-md-3
    .btn.btn-danger.btn-lg.btn-block
      Create Poll

.modal.fade#basicModal{ 'aria-hidden': 'true', 'aria-labelledby': 'basicModal', role: 'dialog', tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Create a Post
          %button.close{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
            = fa_icon 'times'

      .modal-body
        = simple_form_for(@post, remote: true, method: :post) do |f|
          .form-group
            = f.input :title, lable: 'Title', required: true
            = f.input :description, label: 'Description', required: true, as: :text
          .form-inputs
            = f.button :submit, 'Submit', class: 'btn-primary center-block'

.row
  .col-sm-8
    %br
    #posts_array
    - if @posts.blank?
      = no_record_tr(5)
    - else
      = render @posts
