- content_for :title, session[:forum_type] == 'Exercise' ? 'Exercise section' : 'Diet section'

= render 'forum_images', forum_type: session[:forum_type]

.row
  .col-sm-1
  .col-sm-10
    %h1
      = session[:forum_type] == 'Exercise' ? 'Exercise section' : 'Diet section'

.row
  .col-sm-1
  .col-sm-3
    - if user_signed_in?
      %a.btn.btn-lg.btn-block{ class: session[:forum_type] == 'Exercise' ? 'btn-danger' : 'btn-success', 'data-target': '#basicModal', 'data-toggle': 'modal', href: '#' }
        Create Post
    - else
      %a.btn.btn-lg.btn-block{ class: session[:forum_type] == 'Exercise' ? 'btn-danger' : 'btn-success', href: 'javascript: showLoginMessage()' }
        Create Post
  .col-sm-3
    .btn.btn-lg.btn-block{ class: session[:forum_type] == 'Exercise' ? 'btn-danger' : 'btn-success' }
      Create Poll

= render 'post_modal_form', forum_type: session[:forum_type]

.row
  .col-sm-1
  .col-sm-8
    %br
    Sort by: (Not implemented)
    = link_to 'Time ⬆️️', 'javascript: toggleSortButtonTime()', id: 'sort_time', class: 'btn btn-default'
    = link_to 'Comments ⬆️️', 'javascript: toggleSortButtonComments()', id: 'sort_comments', class: 'btn btn-default'
    = link_to 'Likes ⬆️️', 'javascript: toggleSortButtonLikes()', id: 'sort_likes', class: 'btn btn-default'
    %br
    %br
    = will_paginate @posts
    #posts_array
      - if @posts.blank?
        = no_record_tr(5)
      - else
        = render @posts
    = will_paginate @posts
