- content_for :title, session[:forum_type] + ' section'

= render 'forum_images', forum_type: session[:forum_type]

.row
  .col-sm-1
  .col-sm-10
    %h1
      = session[:forum_type] + ' section'

.row
  .col-sm-1
  .col-sm-3
    - if user_signed_in?
      %a.btn.btn-lg.btn-block{ class: btn_class(session[:forum_type]), 'data-target': '#basicModal', 'data-toggle': 'modal', href: '#' }
        - if session[:forum_type] == 'App'
          Request an App
        - else
          Create Post
    - else
      %a.btn.btn-lg.btn-block{ class: btn_class(session[:forum_type]), href: 'javascript: showLoginMessage()' }
        - if session[:forum_type] == 'App'
          Request an App
        - else
          Create Post
  - if session[:forum_type] != 'App'
    .col-sm-3
      .btn.btn-lg.btn-block{ class: btn_class(session[:forum_type]) }
        Create Poll

- if session[:forum_type] == 'App'
  = render 'app_request_modal'
- else
  = render 'post_modal_form', forum_type: session[:forum_type]

.row
  .col-sm-1
  .col-sm-8
    = render 'sort_buttons'
    %br
    = will_paginate @posts
    #posts_array
      - if @posts.blank?
        = no_record_tr(5)
      - else
        = render @posts
    = will_paginate @posts
