- content_for :title, 'Exercise Section'

.row
  .col-sm-2
  .col-sm-2.thumbnail
    = image_tag '/images/exercise/img2.jpg'
  .col-sm-2.thumbnail
    = image_tag '/images/exercise/img3.jpg'
  .col-sm-2.thumbnail
    = image_tag '/images/exercise/img1.jpg'
  .col-sm-2.thumbnail
    = image_tag '/images/exercise/img6.jpg'
  .col-sm-2

%h1
  Exercise Community

.row
  .col-md-3
    -if user_signed_in?
      %a.btn.btn-danger.btn-lg.btn-block.fill_container{'data-target': '#basicModal', 'data-toggle': 'modal', href: '#'}
        Create Post
    -else
      .btn.btn-danger.btn-lg.btn-block.fill_container#show-login-message{ onclick: 'showLoginMessage()' }
        Create Post

  .col-md-3
    .btn.btn-danger.btn-lg.btn-block.fill_container
      Create Poll

.modal.fade#basicModal{'aria-hidden': 'true', 'aria-labelledby': 'basicModal', role: 'dialog', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header.post_colour
        %h4#myModalLabel.modal-title
          Create a Post
          %button.close.black_bg{'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button'}
            %span{'aria-hidden': 'true'} &times;

      .modal-body
        = simple_form_for(@post, remote: true, method: :post) do |f|
          .form-group
            = f.input :title, lable: 'Title', required: true
            = f.input :description, label: 'Description', required: true, as: :text
          .form-inputs
            = f.button :submit, 'Submit', class: 'btn-primary center-block'

.row
  .col-sm-8
    %br
    #posts_array
    - if @posts.blank?
      = no_record_tr(5)
    - else
      = render @posts
