- content_for :title, session[:forum_type] + ' Section'

= render 'forum_images'

%h1
  = session[:forum_type] + ' Section'

.row
  .col-sm-3
    - if user_signed_in?
      = link_to session[:forum_type] == 'App' ? 'Request an App' : 'Create Post', show_post_modal_posts_path(type: session[:forum_type] == 'App' ? 'app_request' : 'post'), method: :post, remote: true, class: "btn btn-lg btn-block #{btn_class(session[:forum_type])}"
    - else
      = link_to session[:forum_type] == 'App' ? 'Request an App' : 'Create Post', 'javascript: showLoginMessage()', class: "btn btn-lg btn-block #{btn_class(session[:forum_type])}"
  - if session[:forum_type] != 'App'
    .col-sm-3
      - if user_signed_in?
        = link_to 'Create Poll', show_post_modal_posts_path(type: 'poll'), method: :post, remote: true, class: "btn btn-lg btn-block #{btn_class(session[:forum_type])}"
      - else
        = link_to 'Create Poll', 'javascript: showLoginMessage()', class: "btn btn-lg btn-block #{btn_class(session[:forum_type])}"

.row
  .col-md-9
    = render 'sort_buttons', type: session[:forum_type]
    %br
    = will_paginate @posts
    #posts_array
      - if @posts.blank?
        = no_record_tr(5)
      - else
        = render partial: 'posts/post', collection: @posts
    = will_paginate @posts
  .col-md-3.hidden-xs.hidden-sm
    - if session[:forum_type] != 'App'
      %h3
        Top Exercise Posts
      %br
      = render partial: 'top_post', collection: @top_exercise
      %h3
        Top Diet Posts
      %br
      = render partial: 'top_post', collection: @top_diet
    %h3
      Top Rated Apps
    %br
    = render partial: 'top_post', collection: @top_apps