- content_for :title, session[:forum_type] == 'Exercise' ? 'Exercise section' : 'Diet section'

= render 'forum_images', forum_type: session[:forum_type]

.row
  .col-sm-1
  .col-sm-10
    %h1
      = session[:forum_type] == 'Exercise' ? 'Exercise section' : 'Diet section'

.row
  .col-sm-1
  .col-sm-3
    - if user_signed_in?
      %a.btn.btn-lg.btn-block{ class: session[:forum_type] == 'Exercise' ? 'btn-danger' : 'btn-success', 'data-target': '#basicModal', 'data-toggle': 'modal', href: '#' }
        Create Post
    - else
      %a.btn.btn-lg.btn-block{ class: session[:forum_type] == 'Exercise' ? 'btn-danger' : 'btn-success', href: 'javascript: showLoginMessage()' }
        Create Post
  .col-sm-3
    .btn.btn-lg.btn-block{ class: session[:forum_type] == 'Exercise' ? 'btn-danger' : 'btn-success' }
      Create Poll

= render 'post_modal_form', forum_type: session[:forum_type]

.row
  .col-sm-1
  .col-sm-8
    %br
    Sort by
    &nbsp;
    - if @sort == 'Time⬆️'
      = link_to 'Time ⬆️', request.params.merge(sort: 'Time⬇️'), class: 'btn btn-default'
    - else
      = link_to 'Time ⬇️', request.params.merge(sort: 'Time⬆️'), class: 'btn btn-default'
    &nbsp;
    - if @sort == 'Comments⬆️'
      = link_to 'Comments ⬆️️', request.params.merge(sort: 'Comments⬇️'), class: 'btn btn-default'
    - else
      = link_to 'Comments ⬇️', request.params.merge(sort: 'Comments⬆️'), class: 'btn btn-default'
    &nbsp;
    - if @sort == 'Likes⬆️'
      = link_to 'Likes ⬆️️', request.params.merge(sort: 'Likes⬇️'), class: 'btn btn-default'
    - else
      = link_to 'Likes ⬇️', request.params.merge(sort: 'Likes⬆️'), class: 'btn btn-default'
    %br
    %br
    = will_paginate @posts
    #posts_array
      - if @posts.blank?
        = no_record_tr(5)
      - else
        = render @posts
    = will_paginate @posts
