- content_for :title, 'Exercise Section'
-#picture, name
-# button to reply
-#replys
.row
  .col-sm-1
  .col-sm-10
    .panel.panel-default
      .panel-heading
        %h2.no-margin
          = image_tag user_image(@post.user), height: 60, width: 60, class: 'img-circle'
          = @post.title
      .panel-body.reply-bg
        = @post.description
      .panel-footer
        %h6.text-lightgrey.text-right
          = @post.time_posted
          -if user_signed_in? && @post.user_id == current_user.id
            = link_to fa_icon('trash', text: 'Delete'),  @post,  method: :delete, data: { confirm: 'Are you sure?' }

#modal_placeholder

.row
  .col-sm-4
  .col-sm-4
    -if user_signed_in?
      = link_to 'Reply', show_reply_modal_reply_path(@post.id, is_post: 1), method: :post, remote: true, class: 'btn btn-danger btn-lg btn-block'
    -else
      .btn.btn-danger.btn-lg.btn-block{ onclick: 'showLoginMessage()' }
        Reply

.row
  .col-sm-1
  .col-sm-8
    %br
    #replies_array
      - if @replies.blank?
        = no_record_tr(5)
      - else
        = render @replies
