- content_for :title, @post.title

.panel.panel-default{id: "post_#{@post.id}"}
  .panel-heading
    %h2.no-margin
      - if @post.post_type == 'App'
        = image_tag @post.app_icon_link, height: 70, width: 70, class: 'img-circle'
      - else
        = @post.user.decorate.display_avatar(70,70)
      = @post.title
  .panel-body
    .row
      %div{ class: @post.post_type == 'App' ? 'col-sm-12' : 'col-sm-9' }
        = simple_format @post.description
      - if @post.post_type != 'App'
        .col-sm-3.text-center
          .row
            .col-sm-3
              = @post.display_like
              %br
              = @post.display_dislike
            .col-sm-9
              %h6.text-lightgrey#likes_block
                = @post.display_like_count
              %button.btn{ class: btn_class(@post.post_type) }
                = "#{ @post.replies.count } " + 'comments'
    #poll_btn
      = raw @post.display_poll
    - if @post.post_type == 'App'
      %br
      %div{ style: 'text-align: center;' }
        %h4
          Rate this app
        = raw @post.display_rating
  .panel-footer
    %h6.text-lightgrey
      = @post.time_posted
      .float-right
        = @post.display_delete_link
        &nbsp;&nbsp;&nbsp;
        = @post.display_report_button

.row
  .col-sm-3
  .col-sm-6
    = @post.display_reply_button
  .col-sm-3

= render 'sort_buttons', for_replies: true
%br
= will_paginate @replies
#replies_array
  - if @replies.blank?
    = no_record_tr(5)
  - else
    = render @replies
= will_paginate @replies