- content_for :title, @post.title
-#picture, name
-# button to reply
-#replys
.row
  .col-sm-1
  .col-sm-10
    .panel.panel-default
      .panel-heading
        %h2.no-margin
          = @post.user.decorate.display_avatar(70,70)
          = @post.title
      .panel-body
        = simple_format @post.description
      .panel-footer
        %h6.text-lightgrey
          = @post.time_posted
          .float-right
            = @post.display_delete_link

.row
  .col-sm-4
  .col-sm-4
    - if user_signed_in?
      = @post.display_reply_button
    - else
      %a.btn.btn-danger.btn-lg.btn-block{ href: 'javascript: showLoginMessage()', class: 'fa fa-comment' }
        Reply

.row
  .col-sm-1
  .col-sm-8
    = render 'sort_buttons', for_replies: true
    %br
    = will_paginate @replies
    #replies_array
      - if @replies.blank?
        = no_record_tr(5)
      - else
        = render @replies
    = will_paginate @replies
