- content_for :title, "Exercise Section"
-#picture, name
-# button to reply
-#replys
.container
  .row
    .col-md-10
      .panel.panel-primary
        .panel-heading
          .row
            .col-md-1
              = @post.user.decorate.display_avatar(70,70)
            .col-md-7
              %h2#post_title
                = @post.title
        .panel-body.reply_body_colour#post_body
          = @post.description
        .panel-footer
          %h6.text_lightgrey
            = @post.time_posted
            = @post.display_delete_link

#modal_placeholder

.row
  .col-md-4
  .col-md-3
    -if user_signed_in?
      = @post.display_reply_button
    -else
      %a#show-login-message.btn.btn-danger.btn-lg.btn-block.fill_container{href: "#"}
        Reply

%br
#replies_array.container
  = @replies.display_replies



:coffee
  $ ->
    $('#show-login-message').on 'click', ->
      $.flashAlert('Log in to be able to reply', 'alert-success')