- content_for :title, 'Exercise Section'
-#picture, name
-# button to reply
-#replys
.row
  .col-sm-1
  .col-sm-10
    .panel.panel-default
      .panel-heading
        %h2.no-margin
          = @post.user.decorate.display_avatar(70,70)
          = @post.title
      .panel-body.reply-bg
        = @post.description
      .panel-footer
        %h6.text-lightgrey.text-right
          = @post.time_posted
          = @post.display_delete_link

#modal_placeholder

.row
  .col-sm-4
  .col-sm-4
    -if user_signed_in?
      = @post.display_reply_button
    -else
      .btn.btn-danger.btn-lg.btn-block{ onclick: 'showLoginMessage()' }
        Reply

.row
  .col-sm-1
  .col-sm-8
    %br
    #replies_array
      = @replies.display_replies
