- content_for :title, 'Reports'

.row
  .col-sm-2
  .col-sm-8
    %h3 Reports
    %br
    #reports_array
      - if @reports.blank?
        = no_record_tr(5)
      - else
        = render @reports

    %hr

    %h3 Blocked Users
    %br
    #reported_users_array
      - if @reports.blank?
        = no_record_tr(5)
      - else
        %table{:border => 1}
          %tbody
            %tr
              %td Username
              %td Email
              %td
          - @reported_users.each do |object|
            %tr
              %td= object.username
              %td= object.email
              %td= link_to 'Unblock', unblock_user_user_path(object), method: :post

        -#= render @reported_users
