!!!
%html
  %head
    %title Fitness-for-students - #{ content_for(:title) }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ 'http-equiv': 'content-type', content: 'text/html; charset=utf-8' }
    = stylesheet_link_tag 'application', media: :all
    = javascript_include_tag 'application'
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body{ class: environment_notice_body_class }
    = render 'layouts/environment_notice'
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = fa_icon 'check', class: 'flash-success'
            - else
              = fa_icon 'warning', class: 'flash-error'
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss

    %noscript
      .warning-page-cover
        .alert.alert-info
          %h2 Sorry, it appears that you are using a web browser without JavaScript which prevents us offering you a rich online experience.
          %p Please enable JavaScript or use a different web browser, or alternatively contact the CiCS Helpdesk for assistance.

    %nav.navbar.navbar-default
      .container
        = link_to 'FITNESS GUIDE', root_path, class: 'navbar-brand'
        = fa_icon 'bars 2x', style: 'cursor: pointer;', onclick: 'toggleNav()', class: 'float-right menu-btn'
        .input-group.float-right
          = form_tag search_posts_path, method: :get, class: 'navbar-form search-form' do
            = text_field_tag :keyword, params[:keyword], placeholder: 'Search', class: 'form-control search-form-control'
            %span.input-group-btn
              = submit_tag '🔍', class: 'btn btn-default'

    .container#main-container{ style: 'padding-top: 0;' }
      .overlay#myNav
        %a.close-btn.pull-right{ href: 'javascript:void(0)', onclick: 'toggleNav()' } &times;
        .overlay-content
          - if user_signed_in?
            = link_to home_user_path(current_user) do
              = current_user.decorate.display_avatar(100,100)
            = link_to 'Profile', home_user_path(current_user)
            = link_to 'Profile settings', edit_user_path(current_user)
            = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            = link_to 'Login', new_user_session_path
            = link_to 'Register', new_user_registration_path
          %hr
          = link_to 'Exercise Forum', posts_path(forum_type: 'Exercise')
          = link_to 'Diet Forum', posts_path(forum_type: 'Diet')
          %a{ href: '#'} Find an App
          %a{ href: '#'} Find a Buddy

      #modal_placeholder
      = yield

    %footer#footer
      .container
        %p
          &copy;#{Date.today.year}
          = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Goto the epiGenesys website'
